body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #cccccc;
}
p {
	text-align: justify;
}
a {
	color: #c9dbe7;
}
table, tr, td {
	border: none;
}
table {
	border-top-left-radius: 3em;
	border-top-right-radius: 3em;
}
#hdt {
        background-image: url('/i/top3.jpg');
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
	height: 405px;
	vertical-align: top;
	padding-left: 20px;
	padding-top: 20px;
}

#title {
	width: 300px;
	background-color: #000000;
	filter: alpha(opacity=30);
}

#hdt #hname {
	font-size: 3em;
	font-weight: bold;
	color: #ffffff;
}

#mt {
	background-color: #ffffff;
}
#content {
	background-color: #ffffff;
	padding: 10px;
	padding-top: 2px;
}
#content a {
	color: #0e4b78;
	text-decoration: underline;
}
#content a:hover {
	color: #cc5e5e;
}
#menu {
	text-align: center;
	font-weight: bold;
	background-color: #ab6532;
}
#menu a {
	text-decoration: none;
}
#menu td {
	padding-top: 3px;
	padding-bottom: 3px;
}
h3 {
	text-align: right;
	font-weight: bold;
	font-size: 130%;
}

#help {
	width: 95%;
	border: 1px solid #0e4b78;
	background-color: #f3faff;
	padding: 6px;
	font-size: 11px;
}
#copy {
	background-color: #0e4b78;
	color: #aaaaaa;
	padding: 5px;
	font-size: 11px;
}
#copy a {
	color: #dddddd;
	text-decoration: none;
}
li, ul {
	margin-left: 0;
	padding-left: 13px;
}
