body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #cccccc;
}
p {
	text-align: justify;
}
a {
	color: #c9dbe7;
}
table, tr, td {
	border: none;
}
table {
	border-top-left-radius: 3em;
	border-top-right-radius: 3em;
}
#hdt {
        background-image: url('/i/top3.jpg');
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
	height: 405px;
	vertical-align: top;
}

#hdt #title {
	margin-left: 20px;
	margin-top: 20px;
	width: 270px;
	background-color: #000000;
	filter: alpha(opacity=40);
	opacity: 0.4;
        border-radius: 1em;
	height: 170px;
}

#hdt #titletext {
	font-family: 'Comfortaa', cursive;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
	top: -195px;
	width: 280px;
	padding-left: 20px;
	padding-top: 15px;
        font-weight: bold;
        color: #ffffff;
	opacity: 0.8;
}
#hdt #titletext #hname {
	font-size: 2.5em;
}
#hdt #titletext #htitle {
	margin-top: 15px;
	font-size: 1.5em;
}

#mt {
	background-color: #ffffff;
}
#content {
	background-color: #ffffff;
	padding: 10px;
	padding-top: 2px;
}
#content a {
	color: #0e4b78;
	text-decoration: underline;
}
#content a:hover {
	color: #cc5e5e;
}
#menu {
	text-align: center;
	font-weight: bold;
	background-color: #ab6532;
}
#menu a {
	text-decoration: none;
}
#menu td {
	padding-top: 3px;
	padding-bottom: 3px;
}
#menu td#langru, #menu td#languk {
	padding: 0;
	background-image: url(/i/ru.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

#menu td#languk {
        background-image: url(/i/uk.svg);
}

h3 {
	text-align: right;
	font-weight: bold;
	font-size: 130%;
}

#help {
	width: 95%;
	border: 1px solid #0e4b78;
	background-color: #f3faff;
	padding: 6px;
	font-size: 11px;
}
#copy {
        background-color: #ab6532;
	color: #aaaaaa;
	padding: 5px;
	font-size: 11px;
}
#copy a {
	color: #dddddd;
	text-decoration: none;
}
li, ul {
	margin-left: 0;
	padding-left: 13px;
}
